{% load static %}
<div class="images">
    <div class="imgContainer">
        <div class="miniContainer">
            <img src="{% static 'images/img1.jpg' %}" class="img">
            <p class="containerTxt">1. Cette maison, d’apparence à priori banale, aurait bien pu disparaitre
                du paysage du centre d’Habsheim sans susciter plus d’émoi. Il s’agit
                pourtant de la plus ancienne maison datée encore debout dans le
                Sundgau !</p>
        </div>
        <div class="miniContainer hidden">
            <img src="{% static 'images/img2.jpg' %}" class="img">
            <p class="containerTxt">2. Parfaitement conservée, sa charpente à été datée par
                <i>dendrochronologie</i> de 1477; même ses chevrons sont d’origine ! Elle
                présentait initialement en pignon une avancée de toit qui protégeait
                une porte en située au niveau du grenier, qui permettait d’y monter
                plus facilement les sacs de grains. Deux poinçons situés au niveau de

                la jonction des demi-croupes avec le faîtage se prolongeaient au-
                dessus du toit, en forme de pointe octogonales.
            </p>
        </div>
        <div class="miniContainer hidden">
            <img src="{% static 'images/img3.jpg' %}" class="img">
            <p class="containerTxt">3. Lors des sondages effectués depuis 2023 sur les murs à l’intérieur et
                à l’extérieur, bon nombre d’éléments indiquant la forme et
                l’emplacement d’anciennes ouvertures sont apparus; tels des
                emplacements et des vestiges d’encadrements de baies à meneaux et
                de portes cintrées. Le plus remarquable de ces éléments fut la
                découverte d’une porte cintrée en pignon, mise à jour par JJ Wolf, et
                dont le millésime de 1487 ne fut trouvé qu’un mois plus tard sur le
                chanfrein d’un voussoir marqué du signe d’un tâcheron, par M le maire
                en personne ! Le fait que cette date soit de dix ans plus jeune que la
                date attestée de la charpente pose évidement plus de questions qu’il
                n’apporte de réponses... Les pointes octogonales en bois des
                poinçons de charpente servaient de supports à des épis de faîtage. En
                revanche, il est difficile de dire à quoi ceux-ci pouvaient ressembler, ni
                même s’ils étaient en cuivre, en plomb ou en céramique. La
                découverte fortuite en 2024 à Rouffach, dans une maison du XVe s.
                effondrée, d’épis de faîtages en céramique vernissée nous montre un
                des rares exemples connu d’un tel élément.</p>
        </div>
        <div class="miniContainer hidden">
            <img src="{% static 'images/img4.jpg' %}" class="img">
            <p class="containerTxt">4. Mis bout à bout, ces divers fragments nous autorisent à imaginer cette
                demeure dans son état de 1487 et d’en proposer une représentation.
                Les investigations se poursuivent toutefois et il reste de grandes
                surfaces à sonder, ce qui nous donne encore matière à découvertes;
                comme cette deuxième porte cintrée apparue en 2025 en façade.
                Principalement, il nous reste à identifier qui étaient à l’origine les
                propriétaires et les occupants de cette maison, et quelles étaient leurs
                activités...</p>
        </div>
        <div class="miniContainer hidden">
            <img src="{% static 'images/img5.jpg' %}" class="img">
            <p class="containerTxt">5. La couche la plus fragile de l’architecture est le décor peint; c’est
                pourquoi il est si difficile d’en retrouver la trace. Ici non plus, aucune
                couleur ancienne n’a pour le moment pu être identifiée sur les
                façades. Il serait toutefois surprenant qu’une construction de cette
                qualité n’ait pas été achevée par un travail pictural de mise en valeur
                -au moins des détails architecturaux; et on les imagine souvent bien
                plus austères que ce que les rares exemples conservés suggèrent
                parfois. Si, sur cette base, on peut s’autoriser quelques
                spéculations, il faut toutefois rester cohérent : jusqu’au XIXe siècle,
                les teintes disponibles en façades étaient essentiellement des ocres
                (rouge et jaune), associés au blanc de chaux et au noir de suie (ce qui
                donnait également des gris et des roses). En céramique, la gamme
                était un peu plu étendue et on retrouve volontiers du vert en
                couverture (tuiles vernissées).</p>
        </div>
    </div>
    <div class="controlBtns">
        <button class="controlBtn leftArrow">←</button>
        <button class="controlBtn rightArrow">→</button>
    </div>
</div>