body {
    background-color: #fafafa;
    margin: 0;
    height: 100vh;
}

/* ------ Header section ------ */
.header {
    background-color: brown;
    display: flex;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #fafafa;
    margin: 20px;
}

.header-txt {
    margin: 20px 0;

    & .txt1 {
        margin: 0;
        font-size: 25px;
    }

    & .txt2 {
        margin: 0;
    }
}

/* ------ end of header section ------ */

/* ------ Nav area ------ */
nav {
    display: flex;
    justify-content: center;
    margin: 50px;
}

.btn {
    border: 5px solid brown;
    width: 150px;
    color: brown;
    font-size: 16px;
    margin: 0 10px;
    padding: 5px;
}

/* ------ end of Nav area ------ */

/* ------ Container area ------ */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

/* ------ end of Container area ------ */

.images{
    max-width: 400px;
}

.img{
    width: 400px;
}

.hidden {
    display: none !important;
}


.miniContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerTxt{
    border: 2px solid brown;
    max-width: 450px;
    height: 150px;
}

.controlBtns{
    display: flex;
    justify-content: space-between;    
}

.controlBtn{
    border: 2px solid brown;
    font-size: 20px;
    font-weight: bodl;
    color: brown;
    padding: 10px 20px;
}

/* ------ Footer section ------ */
.footer {
    background-color: brown;
    display: flex;
    position: relative;
    margin: 0;
}

/* ------end of footer section ------ */