{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patrimoine en jeu</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v={{ now|date:'U' }}">
    <link rel="logo" type="image/png" href="{% static 'images/logo.png' %}" >
</head>

<body>
    <header class="header">
        <div class="square"></div>
        <div class="header-txt">
            <p class="txt1">Test</p>
            <p class="txt2">Test test</p>
        </div>
    </header>

    <nav>
        <button class="carouselBtn btn">Déscription</button>
        <button class="objectBtn btn">Modele 3D</button>
        <a href="{% url 'camera' %}"><button class="cameraBtn btn">Camera</button></a>
    </nav>

    <main class="container">

    </main>

    <footer class="footer">
        <div class="square"></div>
        <div class="header-txt">
            <p class="txt1">Test</p>
            <p class="txt2">Test test</p>
        </div>
    </footer>

  <script type="module" src="{% static 'javascript/script.js' %}"></script></body>
</body>

</html>